.footer{
    background-color: #f7f7f7;
    color: #999999;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

.footerCorp {
    align-items: center;
    margin: auto;
    font-size: x-small;
}