@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
    padding: 0 10%;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    color: #5F0080;
    font-family: 'Lobster', cursive;
}

.headerMain {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.headerMenu {
    width:10%;
    display: flex;
    
}

.headerUser {
    display: flex;
    transform: translate(560%, 0em);
}